<nav>
  <div>
    <img src="./../assets/Logo - LabSignals.png" alt="" />
  </div>

  <div>
    <ul>
      <li><a routerLink="/intro">Lista de elementos Químicos</a></li>
      <li><a routerLink="/effects">Estado físicos dos elementos</a></li>
      <li><a routerLink="/elements">Elementos Favoritos</a></li>
      <li>
        <a routerLink="/computed-signal">Cálculando a massa dos elementos</a>
      </li>
    </ul>
  </div>

  <div>
    <img
      src="./../../assets/Banner.png"
      alt="Descrição da Imagem"
      class="image-container"
    />
  </div>
  <div class="element-container">
    <router-outlet name="list"></router-outlet>
    <router-outlet name="details"></router-outlet>
  </div>
</nav>

<router-outlet></router-outlet>
